{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2021,
		"sourceType": "module",
		"project": "*/tsconfig.json"
	},
	"ignorePatterns": [
		"/out",
		"/example/out"
	],
	"plugins": [
		"@typescript-eslint",
		"roblox-ts",
		"prettier"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"prettier/prettier": [
			"warn",
			{
				"semi": true,
				"trailingComma": "all",
				"singleQuote": false,
				"printWidth": 105,
				"tabWidth": 4,
				"useTabs": true
			}
		],
		"prefer-const": "warn",
		"no-sparse-arrays": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-for-in-array": "error",
		"@typescript-eslint/no-this-alias": "error",
		"no-inner-declarations": "off",
		"roblox-ts/lua-truthiness": "off"
	}
}